.titulo {
  color: red;
  font-size: 22px;
  background: #000;
}

table {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid #222;
  overflow: hidden;
  min-width: 50%;
  margin: auto;
}

table thead {
  background: #161a42;
  color: #fafafa;
}
table th,
td {
  padding: 20px;
  text-align: center;
}

table tr:nth-child(even) {
  background: rgb(151, 168, 188);
}
table tr {
  transition: 0.5s;
}
table tr:hover {
  transform: scale(1.1);
}
